* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron";
}

body {
  background-color: #1E1F21;
}

#overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

#modal {
  background-color: #2C2D31;
  margin: auto;
  padding: 3rem;
  border-radius: 20px;
  z-index: 9000;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

#title-input, #url-input, #category-input {
  background-color: #1E1F21;
  outline: none;
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 30px;
  color: #D8DEE9;
  padding: 0rem 1rem 0rem 1rem;
  margin-top: 1.5rem;
}

#modal button {
  color: #D8DEE9;
  background-color: #518bff;
  padding: .5rem;
  border: none;
  border-radius: 20px;
}

#error-message {
  color: #ff3a3a;
}

#search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  width: 100%;
}

#search-bar {
  background-color: #2C2D31;
  outline: none;
  height: 2rem;
  width: 50%;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #D8DEE9;
  padding-left: 1rem;
}

#search-bar:focus {
  outline: none;
}

#search-submit-button {
  background-color: #2C2D31;
  height: 2rem;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.fa-search {
  color: #D8DEE9;
  padding-right: 1rem;
}

.settings-area {
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -5rem;
  height: 10rem;
  width: 5rem;
}

#settings-icon {
  color: #D8DEE9;
  font-size: 1.5rem;
  position: absolute;
  right: -1.5rem;
  -webkit-transition: .5s;
  transition: .5s;
  top: 50%;
  z-index: 9999;
}

.fa-cog:hover {
  cursor: pointer;
}

.settings-area:hover > #settings-icon {
  right: 1.2rem;
}

#clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#time {
  font-size: 5rem;
  font-weight: 600;
  color: #D8DEE9;
  margin: 0 auto 1rem auto;
}

#date {
  color: #D8DEE9;
  position: absolute;
  bottom: 0;
}

#top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem 0;
}

.top-card {
  padding: 1.2rem;
  background-color: #2C2D31;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.top-card i {
  color: #D8DEE9;
  font-size: 3rem;
}

#card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem 0;
}

.card::-webkit-scrollbar {
  display: none;
}

.card {
  padding: 1.2rem;
  margin: 0rem 1rem;
  background-color: #2C2D31;
  max-height: 10rem;
  min-width: 10rem;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: .25rem;
}

.card i {
  font-size: 2rem;
  color: #D8DEE9;
  margin-right: .5rem;
}

.card-title {
  color: #D8DEE9;
}

.card ul {
  list-style: none;
}

.card a {
  color: #D8DEE9;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */