$background-color: #1E1F21;
$card-background-color: #2C2D31;

* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron";
}

body {
  background-color: $background-color;
}

ul {
  list-style: none;
}

li {

}

a {
  color: #D8DEE9;
  text-decoration: none;
}

#overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.25);
}

#modal {
  background-color: $card-background-color;
  width: 50%;
  margin: auto;
  padding: 3rem;
  border-radius: 20px;
  z-index: 9000;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#title-input, #url-input {
  background-color: $background-color;
  outline: none;
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 30px;
  color: #D8DEE9;
  padding: 0rem 1rem 0rem 1rem;
}

#url-input {
  margin-top: 1.5rem;
}

#modal button {
  color: #D8DEE9;
  background-color: #518bff;
  padding: .5rem;
  border: none;
  border-radius: 20px;
}

#error-message {
  color: #ff3a3a;
}

#search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
}

#search-bar {
  background-color: $card-background-color;
  outline: none;
  height: 2rem;
  width: 50%;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #D8DEE9;
  padding-left: 1rem;
}

#search-bar:focus {
  outline: none;
}

#search-submit-button {
  background-color: $card-background-color;
  height: 2rem;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.fa-search {
  color: #D8DEE9;
  padding-right: 1rem;
}

.settings-area {
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -5rem;
  height: 10rem;
  width: 5rem;
}

#settings-icon {
  color: #D8DEE9;
  font-size: 1.5rem;
  position: absolute;
  right: -1.5rem;
  transition: .5s;
  top: 50%;
  z-index: 9999;
}

.fa-cog:hover {
  cursor: pointer;
}

.settings-area:hover > #settings-icon {
  right: 1.2rem;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

#time {
  font-size: 5rem;
  font-weight: 600;
  color: #D8DEE9;
  margin: 0 auto;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  padding: 1.2rem;
  background-color: $card-background-color;
  min-height: 8rem;
  min-width: 8rem;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}